extends layout

block content
  if user 
    nav
      span
          span Logged in: #{user.firstName} #{user.lastName}  
          a(href='/logout') Sign out
    h1 Update Contact 
    .container
      form(action="/:id", method="post")
        fieldset
          legend Basic Info
          input(name="edit", value=1, type="hidden") 
          input(name="id", value=id, type="hidden")
          section 
            label(for="title") Title: 
            input(name="title", value=contact.title) 
          section 
            label(for="firstName") First Name: 
            input(name="firstName", value=contact.firstName)
          section 
            label(for="lastName") Last Name: 
            input(name="lastName", value=contact.lastName)
          section 
            label(for="phoneNumber") Phone: 
            input(type="phoneNumber", name="phoneNumber", value=contact.phoneNumber)
          section 
            label(for="emailAddress") Email: 
            input(type="emailAddress", name="emailAddress", pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}", value=contact.emailAddress)
        fieldset
          legend Address 
          section 
            label(for="address") Full Address: 
            input(name="address", value=contact.address)
        fieldset
          legend Contact Preferences 
          section 
            label(for="contactByMail") Contact by phone
            input(type="checkbox", name="contactByMail", value=contact.contactByMail) 
          section 
            label(for="contactByPhone") Contact by email
            input(type="checkbox", name="contactByPhone", value=contact.contactByPhone)
          section 
            label(for="contactByEmail") Contact by email
            input(type="checkbox", name="contactByEmail", value=contact.contactByEmail)
        button(type="submit") Save 
        a(href="/") Cancel
  else
      p Not Authorized

  
