extends layout.pug

block content
  
  nav
    //a(href='/login') Sign in
    if user 
        span
            span Logged in: #{user.firstName} #{user.lastName}  
            a(href='/logout') Sign out
    else
        a(href='/login') Sign in
    a(href='/create') Create a new contact
    
  h1 Contact List
    
  .container
    table
      thead
        tr
          th Name
          th Phone
          th Email
          th Address
          th Contact
      tbody
        each contact in allContacts
          tr(id=`${contact.id}`)
            td: a(href=`/${contact.id}`) #{contact.firstName} #{contact.lastName}
            td #{contact.phoneNumber}
            td #{contact.emailAddress}
            td #{contact.address}
            td
              section
                label(for='mail', style='width: 80px;') Mail
                input#contactByMail(type='checkbox', disabled, checked = contact.contactByMail)
              section
                label(for='phone', style='width: 80px;') Phone
                input#contactByPhone(type='checkbox', disabled, checked = contact.contactByPhone)
              section
                label(for='email', style='width: 80px;') Email
                input#contactByEmail(type='checkbox', disabled, checked = contact.contactByEmail)
                

  #map-container
    #map
  
  
  link(href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css", rel="stylesheet")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", crossorigin="anonymous")
  script(src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js")
  script.
    let markers = [];
    const allContacts = !{JSON.stringify(allContacts)};
    const map = L.map('map').setView([41.08224455, -74.1738235180645], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    for (const contact of allContacts) {
      marker = L.marker([contact.latitude, contact.longitude]).addTo(map).bindPopup(`<b>${contact.title} ${contact.firstName} ${contact.lastName}</b><br/>${contact.address}`);
      markers.push(marker);
      console.log(marker);

      const row = document.querySelector(`[id='${contact.id}']`);
      row.addEventListener('click', () => {
        // set view of map to marker's position
        map.flyTo([contact.latitude, contact.longitude]);
      });
    }

